.grid-view {
    -fx-horizontal-cell-spacing: 4.0;
    -fx-vertical-cell-spacing: 4.0;
    -fx-pref-width: 522;
    -fx-pref-height: 440;
    -fx-cell-size: 60, 60;
}

.cell-weekend {
    -fx-background-color: #676A79;
}

.cell-empty {
    -fx-background-color: transparent;
}

.cell-normal {
    -fx-background-color: #a3a6ae;
}

.cell-normal:hover {
    -fx-background-color: #bbbec7;
}

.cell-normal:pressed:hover {
    -fx-background-color: #7d7d7d;
}

.cell-current {
    -fx-background-color: #b39dff;
}

.cell-current:hover {
    -fx-background-color: #c3b3fc;
}

.cell-current:pressed:hover {
    -fx-background-color: #9280d0;
}

.grid-cell {
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-border-width: 1.5;
    -fx-font-size: 12;
}

.grid-cell .day-label {
    -fx-pref-width: 18;

    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-alignment: center-right;
}

.grid-cell .sendings-label {
    -fx-pref-width: 14;

    -fx-font-size: 24;
    -fx-text-fill: white;
    -fx-font-family: "Javanese Text";
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.grid-cell .circle {
    -fx-fill: #d64053;
}